# Dependencies
node_modules/
bun.lockb

# OS & Editor Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tmp
*.temp

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Temporary Directories
xdelta_src/
dist/
tmp/
temp/

bun.lock
